<div class="intro" data-action="intro">

    <h1 class="index__mainHeading">All Set!!</h1>

    <img src="assets/images/intro.jpg" alt="Technologies Logos">

    <p>Welcome to <strong>Gulp Starterkit</strong>! Check out the documentation for more details! <a href="https://github.com/jpgcode/gulp-starterkit" target="_blank">https://github.com/jpgcode/gulp-starterkit</a>.</p>

</div>
