/* ----- index page styles ----- */

.index {
	width: 1024px;
	margin: 0 auto;
    @include respond-to($medium) {
        color:#ff0000;
    }

    @include respond-to($large) {
        color:#333333;
    }

}
