/* ----- index page styles ----- */

.index {
	width: 1024px;
	margin: 0 auto;
    @include respond-to($tablet) {
        color:#ff0000;
    }

    @include respond-to($desktop) {
        color:#333333;
    }

}
