/*--
 * Mixins
 * Define here all the mixins from the project
-*/

@mixin respond-to($val, $val2: none) {
    @if ($val2 == none) {
    	@media (min-width: $val) { @content; }

    } @else if ($val2 == max) {
    	@media (max-width: $val) { @content; }

    } @else {
    	@media (min-width: $val) and (max-width: $val2) { @content; }
    }
}
