/*---
 * Variables
 * Add all the variables you need for the project
 * Responsive = The responsive breakpoints use as needed.
 * Colors = Corporate Colors
---*/


//Responsive
$mobile: 320px;
$tablet: 768px;
$desktop: 1024;

//Colors
