<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{{title}} | My Project</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

        <!-- build:css assets/styles/main.css -->
        <link rel="stylesheet" href="assets/styles/main.css">
        <!-- endbuild -->
    </head>
    <body>

        <div class="wrapper">
            {% body %}
        </div>

        <!-- build:vendorJs assets/scripts/vendor.js -->
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <!-- endbuild -->

        <script src="assets/scripts/main.js"></script>
    </body>
</html>
